# editor configs
Properties
.vscode
.editorconfig
.prettierrc
.stylelintrc.json

# code binaries
bin
obj
node_modules
*/node_modules
npm-debug.log
log

# .Net project files
*.csproj
*.cs

# docs
*.md
*.txt
LICENSE

# docker
.docker
.dockerignore
Dockerfile
*/docker-compose*
/dist
/ui/dist
/tmp
/out-tsc
*/dist
*/ui/dist
*/tmp
*/out-tsc

# repositories
.git
.hg
.svn
