<p-table [columns]="cols" [value]="trainProbabilityDetails"  dataKey="train" rowExpandMode="single">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em"></th>
      <th *ngFor="let col of columns">
        {{ col.header }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
    <tr (click)="tableRowClick(rowData.train)">
      <td>
        <a href="#" [pRowToggler]="rowData">
          <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
        </a>
      </td>
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
    <tr >
      <td [attr.colspan]="columns.length + 1">
        <div class="ui-g ui-fluid" style="font-size:16px;padding:5px 150px">
          <div class="ui-g-12 ui-md-9">
            <div class="ui-g">
                <table class="table">
                      <th *ngFor="let predictionClassCol of trainPredictionClassCol">
                        {{ predictionClassCol.header }}
                      </th>
                    
                        <tr *ngFor="let prediction of rowData.prediction">
                            <td *ngFor="let predictionClassCol of trainPredictionClassCol">
                                {{ prediction[predictionClassCol.field]}}
                            </td>                        
                        </tr>
                </table>
              
            </div>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
